:root {
    --skewness: 5rem;
}

body {
    background-image: url("../resources/background.jpg");
    background-size: cover;
    background-attachment: fixed;
    font-size: 18px;
    font-family: 'Josefin Sans', sans-serif;
}

/* Slanted sections */

.slanted-container {
    min-height: 300px;
    width: 100%!important;
    clip-path: polygon(0 var(--skewness), 100% 0, 100% calc(100% - var(--skewness)), 0 100%);
    padding: calc(1.5 * var(--skewness))  3rem calc(1.5 * var(--skewness)) 3rem;
    opacity: 0.9;
}

.slanted-container:first-of-type {
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - var(--skewness)), 0 100%);
    padding-top: 2rem;
}

/* Volunteer information */
.volunteer-name {
    margin-bottom: 0;
    font-weight: bold;
}

.volunteer-picture {
    border-radius: 100%;
    border: 5px solid white;
}

.volunteer-desc {
    font-size: 16px;
}

.carousel .row.display-flex {
    display: flex;
    flex-wrap: wrap;
}
.carousel .row.display-flex > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

/* Misc */

.card-img-col {
    background-position: center;
    background-size: cover;
    min-height: 200px;
}

.header-text {
    color: white;
    text-align: left;
}

#contact .btn-group-vertical {display: none;}
#contact .btn-group {
    display: inline-flex;
}

@media only screen and (max-width: 767px) {
  #contact .btn-group {
    display: none;
  }
  #contact .btn-group-vertical {
    display: inline-flex;
  }
}

.header-icon {
    max-height: 150px;
}

.resource-toggle {
    padding: 20px;
    border-radius: 10px;
    margin: 5px 0px;
}

.resource-downloader {
    font-size: 20px;
    border: 2px dashed lightgrey;
    border-radius: 15px;
    cursor: pointer;
}

.resource-downloader:hover {
    background: white;
    border: 2px solid lightgrey;
}